streamlit
google-generativeai
opencv-python-headless
ffmpeg-python
yt-dlp
pydub
pandas
selenium
beautifulsoup4
webdriver-manager
# torch, torchvision, and toraudio are installed separately in the Dockerfile for GPU support.
# This file contains the remaining dependencies.
openai-whisper
youtube-transcript-api
